<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
</head>

<body>
Click <a href="/<%= room_id %>">to room</a>, then send the url to your videochat partner!

</body>
</html>