<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="container">
    <div id="rv-container" class="w3-black w3-center video-container">
        <video id="remoteVideo" autoplay playsinline controls="false"/>
    </div>
    <div id="lv-container" class="w3-black w3-center video-container">
        <video id="localVideo" autoplay playsinline controls="false"/>
    </div>
</div>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const room = '<%- room %>';
</script>
<script src="/js/videochat.js"></script>
</body>
</html>