<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex, nofollow">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="container">
        <div id="lv-container" class="">
            <video id="localVideo" autoplay playsinline controls="false"/>
        </div>
        <div id="rv-container" class="w3-center w3-black">
            <video id="remoteVideo" autoplay playsinline controls="false"/>
        </div>
</div>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const room = '<%- room %>';
    const ice_config = '<%- ice_config %>';
</script>
<script src="/js/videochat.js"></script>
</body>
</html>