

#localVideo {
    max-height: 25%;
    max-width: 25%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

#remoteVideo {
    display: none;
}

/*@media screen and (max-width: 600px) {*/
/*    .video-container {*/
/*        margin-top: 0;*/
/*    }*/

/*    .video-header {*/
/*        margin-top: 0;*/
/*    }*/

/*    #remoteVideo {*/
/*        margin-top: 0;*/
/*        max-height: 100%;*/
/*        max-width: 100%;*/
/*    }*/

/*    #localVideo {*/
/*        margin-top: 0;*/
/*        max-height: 25%;*/
/*        max-width: 25%;*/
/*        position: fixed;*/
/*            right: 0;*/
/*            top: 0;*/
/*        z-index: 1;*/
/*    }*/
/*}*/