html,
body,
#container {
    height: 100%;
}
.video-container {
    height: 100%;
}

#remoteVideo {
    margin-top: 100px;
    max-height: 300px;
    max-width: 400px;
}

#localVideo {
    margin-top: 100px;
    max-height: 300px;
    max-width: 400px;
}

@media screen and (max-width: 400px) {
    .video-container {
        margin-top: 0;
    }

    #remoteVideo {
        margin-top: 0;
        max-height: 100%;
        max-width: 100%;
    }

    #localVideo {
        margin-top: 0;
        max-height: 100%;
        max-width: 100%;
    }
}